a {
  color: dodgerblue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.degraded {
  background: #FFFF66;
}
.stale {
  color: gray;
  font-style: italic;
}

table {
  width: 100%;
}
th {
  background-color: dimgray;
  color: whitesmoke;
}
tr {
  background-color: whitesmoke;
  color: black;
}
